<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Démarrer une partie</title>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h2 id='hero-name'></h2>

	<div id='item-list'>
		<!--
		<div>
			<h2>Nom de l'objet</h2>
			
			<p>Prix de l'objet : 35</p>
			
			<button value='Ajouter'>
		</div>
		-->
	</div>
	
	<div>Or restant : <span id='gold'></span></div>

	<div>
		<a href="/">Retour</a>
	</div>
	
 	<script src='/admin/js/pick-items.js'></script>
</body>
</html>