<!DOCTYPE >
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Template Exercice 4</title>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-4 bg-dark">
			
			</div>
			<div class="col-4 p-0 card border border-success">
				<div class="card-header">
					<span th:text='${game.gameName}'></span>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><span th:text='${game.devStudio}'></span></li>
					<li class="list-group-item"><span th:text='${game.releaseYear}'></span></li>
					<li class="list-group-item"><span th:text='${game.gender}'></span></li>
				</ul>
			</div>
			<div class=" col-4 bg-dark">
			
			</div>
		</div>
	</div>
</body>
</html>